/* .footer-container{
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.footer-parent{
    width: 100%;
    height: 100%;
    max-width: 1920px;
}
.footer-parent img{
    max-width: 100%;
    height: 130px;
} */
.footer-bg{
    height: 100%;
    width: 100%;
    background-image: url('./shape-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 10px;
}
.footer-img{
    width: 100%;
    height: 400px;
}

@media only screen and (max-width:1110px){
    .footer-bg{
        display: flex;
        align-items: flex-end;
    }
}